In [7]:
import numpy as np

In [1]:
import rishi_utils as ru

In [24]:
source_thresh = [450.0, 6.0]
target_thresh = [500.0, 5.75]
target_operations = ['>', '<']

In [25]:
for ind,i in enumerate(target_operations):
        if abs(target_thresh[ind] - source_thresh[ind]) / target_thresh[ind] > .05:
            if i=='>':
                target_thresh[ind] = target_thresh[ind]*.95
            elif i=='<':
                target_thresh[ind] = target_thresh[ind]*1.05 
target_thresh

[475.0, 5.75]

# See if multi-region data_prep works

In [2]:
fp_all = ru.pd_load('/data/rgur/g2g/eg_and_tg/raw_data/property_data.csv')

In [3]:
fp_all = fp_all.head(3)

In [5]:
#(5.4,440)
#(6.2,400)
#(5.4,520)
fp_all['Tg'] = [440.0,400.0,520.0]
fp_all['Bandgap'] = [5.4, 6.2, 5.4]

In [6]:
if 'id' not in fp_all.keys():
    n_rows = len(fp_all)
    ids = ['rd_%s' %i for i in range(n_rows)]
    fp_all['id'] = ids

In [52]:
class Args():
    source_thresh = [5.5,450]
    target_thresh = [6,500]
    prop_cols = ['Bandgap','Tg']
    strict = False
    flip_props = [1]

In [53]:
fp_all

   Unnamed: 0        smiles     Tg  Bandgap    id
0           0       [*]C[*]  440.0      5.4  rd_0
1           1   [*]CC([*])C  400.0      6.2  rd_1
2           2  [*]CC([*])CC  520.0      5.4  rd_2

In [54]:
args = Args()

In [55]:
n_prop = 2

In [56]:
source_operations = []
target_operations = []
for i in range(n_prop):
    if args.source_thresh[i] < args.target_thresh[i]:
        source_operations.append('<')
        target_operations.append('>')
    else:
        source_operations.append('>')
        target_operations.append('<')

In [57]:
source_operations

['<', '<']

In [58]:
target_operations

['>', '>']

In [59]:
def flip_inequality(s):
    if s == '>':
        return '<'
    elif s == '<':
        return '>'
        
def makeSourceTarget():
    include_cols = ['id', 'smiles'] + args.prop_cols
    if args.strict:
        source_cmd = ' & '.join(["(fp_all['%s'] %s %s)" %(args.prop_cols[i], source_operations[i], 
                                                          args.source_thresh[i]) for i in range(n_prop)])
    else:
        for i in args.flip_props:
            source_operations[i] = flip_inequality(source_operations[i])
            args.source_thresh[i] = args.target_thresh[i]
        
        source_cmd = ' & '.join(["(fp_all['%s'] %s %s)" %(args.prop_cols[i], source_operations[i], 
                                                          args.source_thresh[i]) for i in range(n_prop)])        
#    else:
#         source_cmd = ' | '.join(["(fp_all['%s'] %s %s)" %(args.prop_cols[i], source_operations[i], 
#                                                           args.source_thresh[i]) for i in range(n_prop)])   
    target_cmd = ' & '.join(["(fp_all['%s'] %s %s)" %(args.prop_cols[i], target_operations[i], 
                                                      args.target_thresh[i]) for i in range(n_prop)])
    exec( 'source = fp_all.loc[%s, %s]' %(source_cmd, include_cols) ) #make source
    exec( 'target = fp_all.loc[%s, %s]' %(target_cmd, include_cols) ) #make target
    return source, target

In [60]:
source, target = makeSourceTarget()

In [61]:
source

     id        smiles  Bandgap     Tg
2  rd_2  [*]CC([*])CC      5.4  520.0